{% extends "admin/base_site.html" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>BIENVENIDOS A LA BIBLIOTECA!!</h1>
<h3 style="color: red;">6to "C" - 2020</h3>

<div>
{# puedo usar una estructura de control  #}

       {% if request.user.is_authenticated %}HOLA, {{ user.username }}.  {# puedo usar una variable #}
       {% else %}
           Usuario no autentificado
       {% endif %}
 </div>
<div  style="margin-top: 2rem !important;">
    <a href="/admin">Ver admin</a>
</div>

{% endblock %}