{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div id="content-main">
    {% if app_list %}
      {% for app in app_list %}
        <div class="module">
          <table class="table-overview applist" summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
            <caption><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></caption>
            {% for model in app.models %}
              <tr>
                <th scope="row">{{ model.name }}</th>
                {% if model.admin_url %}
                  <td>
                    <a href="{{ model.admin_url }}" class="changelink icon">Mostrar</a>
                  </td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}

              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}

  <div>
    <a href="/" >Home</a>
    </div>
  </div>

{% endblock %}


{% block sidebar %}{% endblock %}
